html,body{
    
    font-family: 'ropoto', sans-serif;
    align-content: center;
    align-items: center;
}
*{
   margin: 3px;
   padding: 3px;
    box-sizing:border-box;}





.bg-primary {
  background-color:darkgrey;
  color: #fff;
}
#contact {
  display: flex;
    
}

.bg-dark{
    background-color: #252A34;
    color: #fff;
}

#contact .contact-us input{
    
    width: 100%;
  padding: 0.75rem;
  border:none;
  margin-bottom: 4rem;
    align-items: center;
    
  outline: none;
    
}
#contact .contact-us .form-group {
  display:flex;
    
    
    
   

}

#contact .contact-us .form-group input[type="text"] {
  margin-right: 0.75rem;
}


#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
    
}
#navbar ul{
    list-style: none;
    display: flex;
    
}
#navbar ul li a{
    color: #fff;
    padding: 1rem;
    margin-left: 10px;
    
}
#navbar ul li a :hover {
    background-color: aquamarine;
    border-radius: 5px;
}
.py-1{
    padding: 1.5rem,0;
}
.btn:hover {
  background-color: #FF2E63;
}

.btn-dark {
  background-color: #252A34;
    color: #fff;
}
.footer{
    padding:10px;
     text-align: center;
}

    
